[submodule "plugins/extract_headings"]
	path = plugins/extract_headings
	url = https://github.com/wilbur-ma/extract_headings
[submodule "themes/niu-x2"]
	path = themes/niu-x2
	url = https://github.com/wilbur-ma/niu-x2
[submodule "plugins/update_date"]
	path = plugins/update_date
	url = https://github.com/wilbur-ma/pelican-update-date
