<!-- includes/article_meta.html -->
            <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            由 <a href="/{{ article.author.url }}">{{ article.author }}</a>
            发布于 <a href="/{{ article.category.url }}">{{ CATEGORY_MAP[article.category] }}</a>
            <p>
            标签 
            {%- if article.tags %}
              {%- for tag in article.tags %}
              <a rel="tag" href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor -%}
            {% endif -%}
            </p>
            {%- if article.translations %}
              <br />Languages: 
              [<a href="/{{ article.url }}">{{ article.lang or DEFAULT_LANG }}</a>]
              {%- for translation in article.translations %}
              <a href="/{{ translation.url }}">{{ translation.lang }}</a>
              {% endfor -%}
             {% endif -%}
